ul {
  list-style: none;
  padding-left: 0;
}

li {
  border: 1px solid gainsboro;
  padding: 20px;
  list-style: none;
  margin: 10px;
}

input[type=text], input[type=password], input[type=tel] {
  padding: 6px;
  margin: 8px;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid gainsboro;
  width: 60%;
}

.upload-name {
  display: inline-block;
  height:8%;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  border-radius: 5px;
  width: 50%;
  color: #999999;
  margin-bottom: 1%;
}

.upload {
  display: inline-block;
  width: 10%;
  height: 8%;
  vertical-align: middle;
  border: 1px solid gainsboro;
  font-weight: bold;
  border-radius: 5px;
  font-size: x-small;
  text-align: center;
  padding-top: 0.9%;
  padding-bottom: 0.9%;
  margin-bottom: 1%;
}.upload:hover{
  cursor: pointer;
  color: aliceblue;
  background-color: #008080;

}

textarea {
  width: 60%;
  height: 68%;
  resize: none!important;
  vertical-align: middle;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-size: 17px;
}

select {
  width: 200px; 
  padding: .5em .5em; 
  border: 1px solid gainsboro;
  font-family: inherit; 
  border-radius: 5px; 
}

table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
}

td, tr, th {
  padding: 5px;
}

button{
  margin-left: 5px;
  font-weight: bolder!important;
} 

/* className */
.none {
  text-decoration-line: none;
  color: inherit; 
}.none:hover{
  color: inherit;
}

.mypage-none {
  text-align: left;
}.mypage-none:hover {
  background-color: gainsboro;
}

.clickable:hover{
  background-color: lightsteelblue;
  cursor: pointer;
}

/* Box CSS */
.div-box{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  height: 50vh;
}

.content-box {
  border: 1px solid gainsboro;
  border-radius: 5px;
  word-break: break-all;
  text-align: left;
  height: 45%;
  margin-bottom: 10px;
  padding: 10px;
  overflow: auto;
}

.info-box {
  display: inline-block;
  word-break: break-all;
  width: 80%;
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
  overflow: auto;
}

.box {
  display: inline-block;
  margin: 10px;
  position: absolute;
  width: 47%;
}

.page-bar {
  display: inline-block;
  width:30%;
  height: 100%;
  vertical-align: middle;
  margin-bottom: 1%;
  text-align: center;
  background-color: transparent;
  border: none;
  vertical-align: middle;
}.page-bar:hover{
  cursor: pointer;
  background-color: gainsboro;
}

.filelist{
  border: none;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}
.filelink:hover{
  cursor: pointer;
  font-weight: bold;
  color: mediumslateblue;
}

/* preview zone css */
#preview-zone {
  border: 1px solid gainsboro;
  border-radius: 5px;
  text-align: center;
}
#preview-img {
  display: inline-block;
  border-right: 1px solid gainsboro;
  margin-bottom: 10px;
  width: 65%;
  height: auto;
}
#preview-file {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  width: 35%;
}

/* label css */
.image-label, .image-label-uploaded{
  display: inline-flex;
  width: 46%;
  height: 150px;
  margin: 5px;
}


/* image css */
.image-preview{
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  object-fit: cover;
}.image-preview:hover{
  cursor: pointer;
}

/* document css */
.document-preview, .document-label, .document-label-uploaded{
  padding: 1px;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
}
.document-preview:hover{
  cursor: pointer;
}


.manage {
  border-top: 1px solid gainsboro;
}.manage:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.bar-top{
  position: fixed;
  top: 0;
  width: 100%;
}

.modal-box{
  text-align: left;
  height: 50vh;
}

.p-user{
  color: gray;
  margin-bottom: 0;
}


.b-user{
  color: black;
}

.form-box{
  text-align: left;
  height: 10%;
  margin-top: 0;
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
}

@media only screen and (max-device-width: 400px) {
  .div-box{
    width: 370px;
    margin-top: 100px;
  }

  .modal-box{
    text-align: left;
    margin-top: 10px;
    width: 265px;
    height: 400px;
  }

  .form-box{
    width: 95%;
  }

  .info-box {
    width: 95%;
  }

  .bar-top{
    width: 390px;
  }
  
  table{
    width: 390px;
  }

  th {
    font-size: x-small;
  }

  td {
    font-size: xx-small;
  }

  .image-label, .image-label-uploaded{
    width: 80%;
    height: 100px;
  }

  .document-preview{
    font-size: xx-small;
  }

  .paginate{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-top: 10px;
  }

  .paginate li{
    margin: 0;
  }

  .bar-left{
    display: flex;
  }
  
  .bar-item-left{
    width: 25%;
  }

}

.input-group{
  position: relative;
  margin-left: 20%;
}

.input{
  padding: 10px;
  border: none;
  border-radius: 4px;
  font: inherit;
  background-color: white;
  outline: 2px solid inherit;
}

.input-label-default{
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 7px;
  font-size: 14px;
  padding: 0px 5px;
  transform: translate(10px, 10px);
  transition: transform .3s;
  pointer-events: none;
  background-color: white;
}

.input-label{
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 7px;
  font-size: 14px;
  padding: 0px 5px;
  transform: translate(10px, 10px);
  transition: transform .3s;
  pointer-events: none;
  background-color: white;
}

.input-default:focus+.input-label-default{
  transform: translate(10px, -14px) scale(.9);
  color: gray;
  padding-inline: 5px;
}
.input:valid+.input-label{
  transform: translate(10px, -14px) scale(.9);
  color: #008080;
  padding-inline: 5px;
}
.input:invalid+.input-label{
  transform: translate(10px, -14px) scale(.9);
  color: lightcoral;
  padding-inline: 5px;
}

.input-default:is(:focus){
  outline-color: gray;
}
.input:is(:focus:valid){
  outline-color: #008080;
}
.input:is(:focus:invalid){
  outline-color: lightcoral;
}