
#article {
  height: 50px;
}

#list {
  margin-top: 20px;
  width: 100%;
  border-top: 3px solid black;
  border-collapse: collapse;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
}

#item {
  border: 1px solid #282c34;
  padding: 10px;
}

#item-detail {
  border: none;
}

#none {
  width: 200px;
  height: 200px;
  text-decoration-line: none; 
  color: inherit; 
}
#none:hover {
  font-weight: bolder;
  color: slateblue;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  border: 1px solid #282c34;
  padding: 20px;
  list-style: none;
  margin-top: 10px;
  margin-right: 10px;
}


#btn-default {
  border-radius: 5px;
  background-color: white;
  border: 1px solid slateblue;
  color: slateblue;
  font-weight: bolder;
  margin-left: 10px;
}
#btn-default:hover{
  background-color: slateblue;
  color: aliceblue;
}

#btn-category{
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-color: white;
  color: #373737;
  border: 3px solid #373737;
  font-weight: bolder;
  font-size: larger;
  vertical-align: middle;
  margin:auto;
}
#btn-category:hover{
  background-color: slateblue;
  color: aliceblue;
}

#btn-add{
  border-radius: 5px;
  background-color: white;
  color: mediumturquoise;
  border: 1px solid mediumturquoise;
  font-weight: bolder;
  margin-left: 10px;
  vertical-align: middle;
  margin-top: 5px;
}
#btn-add:hover{
  background-color: mediumturquoise;
  color: aliceblue;
}

#btn-remove{
  border-radius: 5px;
  background-color: white;
  color: lightcoral;
  border: 1px solid lightcoral;
  font-weight: bolder;
  float: right;
}
#btn-remove:hover{
  background-color: lightcoral;
  color: aliceblue;
}

#home{
  width: 300px;
  height: 450px;
  position: absolute;
  top: 30px;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0%);
}

#id-box{
  width: 400px;
  margin-bottom: 5px;
}

#text-box{
  width: 400px;
  height: 100px;
  resize: none;
  vertical-align: middle;
}

#div-box{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

