ul {
  list-style: none;
  padding-left: 0;
}

li {
  border: 1px solid #282c34;
  padding: 20px;
  list-style: none;
  margin-top: 10px;
  margin-right: 10px;
}

input{
  width: 400px;
  margin-bottom: 5px;
}

select {
  width: 200px; 
  padding: .5em .5em; 
  border: 1px solid #999;
  font-family: inherit; 
  border-radius: 0px; 
}

#article {
  height: 50px;
}

#list {
  margin-top: 20px;
  width: 100%;
  /* border: 3px solid; */
  border-collapse: collapse;
  border-radius: 5px;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
}

#item {
  /* border: 1px solid black; */
  padding: 10px;
}

/* #item-detail {
  border: none;
} */

#none {
  width: 200px;
  height: 200px;
  text-decoration-line: none; 
  color: inherit; 
}
#none:hover {
  font-weight: bolder;
  color: slateblue;
}

#radioInput{
  width: 30px;
}

#clickable:hover{
  background-color: lightsteelblue;
  cursor: pointer;
}

#home{
  width: 300px;
  height: 450px;
  position: absolute;
  top: 10%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0%);
}


/* Box CSS */

#text-box{
  width: 400px;
  height: 100px;
  resize: none;
  vertical-align: middle;
}

#div-box{
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  height: 100%;
}

.box1{
  display: inline-block;
  margin: 10px;
  width: 47%;
  position: absolute;
  left: 10px;
}

.box2{
  display: inline-block;
  margin: 10px;
  position: absolute;
  width: 47%;
  right: 10px;
}



/* Button CSS */

#btn-default {
  border-radius: 5px;
  background-color: white;
  border: 1px solid slateblue;
  color: slateblue;
  font-weight: bolder;
  margin: 5px;
  vertical-align: middle;
}#btn-default:hover{
  background-color: slateblue;
  color: aliceblue;
}

#btn-category{
  min-width: 100px;
  max-width: 150px;
  height: 50px;
  border-radius: 5px;
  background-color: white;
  color: #373737;
  border: 3px solid #373737;
  font-weight: bolder;
  font-size: larger;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: "ellipsis";
  
  margin: 5px;
}#btn-category:hover{
  background-color: slateblue;
  color: aliceblue;
}

#btn-post{
  border-radius: 5px;
  background-color: white;
  color: mediumturquoise;
  border: 1px solid mediumturquoise;
  font-weight: bolder;
  margin: 5px;
  vertical-align: middle;
}#btn-post:hover{
  background-color: mediumturquoise;
  color: aliceblue;
}

#btn-user{
  width: 100px;
  height: 50px;
  position: absolute;
  top: 10px;
  margin: 5px;
  border: 1px solid mediumturquoise;
  border-radius: 5px;
  color: mediumturquoise;
  background-color: white;
  vertical-align: middle;
  font-weight: bolder;
}#btn-user:hover{
  background-color: mediumturquoise;
  color: aliceblue;
}

#btn-remove{
  border-radius: 5px;
  background-color: white;
  color: lightcoral;
  border: 1px solid #f08080;
  font-weight: bolder;
  margin: 5px;
  vertical-align: middle;
}#btn-remove:hover{
  background-color: lightcoral;
  color: aliceblue;
}
