ul {
  list-style: none;
  padding-left: 0;
}

li {
  border: 1px solid gainsboro;
  padding: 20px;
  list-style: none;
  margin: 10px;
}

input[type=text], input[type=password] {
  padding: 6px;
  margin: 8px;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid gainsboro;
  width: 60%;
}

.upload-name {
  display: inline-block;
  height: 4%;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  border-radius: 5px;
  width: 50%;
  color: #999999;
}

.upload {
  display: inline-block;
  width: 10%;
  height: 4%;
  vertical-align: middle;
  border: 1px solid gainsboro;
  font-weight: bold;
  border-radius: 5px;
  font-size: 17px;
  text-align: center;
  padding-top: 0.9%;
  padding-bottom: 0.9%;
}.upload:hover{
  cursor: pointer;
  color: aliceblue;
  background-color: #008080;

}

textarea {
  width: 60%;
  height: 40%;
  resize: none!important;
  vertical-align: middle;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-size: 17px;
}

select {
  width: 200px; 
  padding: .5em .5em; 
  border: 1px solid gainsboro;
  font-family: inherit; 
  border-radius: 5px; 
}

table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
}

td, tr, th {
  padding: 10px;
}

button{
  margin-left: 5px!important;
  font-weight: bolder!important;
} 

/* className */
.none {
  text-decoration-line: none;
  color: inherit; 
}.none:hover {
  color: slateblue;
}

.clickable:hover{
  background-color: lightsteelblue;
  cursor: pointer;
}

.home{
  width: 300px;
  height: 450px;
  position: absolute;
  top: 10%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0%);
}

/* Box CSS */
.div-box{
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  height: 80vh;
}

.box {
  display: inline-block;
  margin: 10px;
  position: absolute;
  width: 47%;
}

/* .search-container {
  position: absolute;
  left: 400px;
  top: -6px;
} */

.page-bar {
  display: inline-block;
  width: 30%;
  height: 100%;
  vertical-align: middle;
  margin-bottom: 1%;
  text-align: center;
  background-color: transparent;
  border: none;
  vertical-align: middle;
}.page-bar:hover{
  cursor: pointer;
  background-color: gainsboro;
}